@import "../../../../../node_modules/swiper/swiper-bundle.css";

@font-face {
  font-family: 'Cafe24OhSquareair';
  src: url("/plugins/team_vega/assets/fonts/Cafe24Ohsquareair.ttf") format('truetype');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-D7A3;
}

.incomplete-collab-list {
  .title {
    position: relative;
    height: 43px;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;

    span {
      position: absolute;
      display: inline-block;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    }
  }
  .incomplete-collab-list-container {
    margin-top: 10px;
    .slide-item {
      .slide-content-container {
        padding-bottom: 56.25%;
        position: relative;
        background-position: center;
        background-size: cover;

        .slide-content {
          backdrop-filter: brightness(.7) blur(2px);
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          word-wrap: anywhere;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          color: #fff;
          flex-direction: column;
          font-family: Cafe24OhSquareair, sans-serif;
          gap: 10px;

          .collab-title {
            font-size: 24px;
            text-align: center;
          }

          .collab-details {
            display: flex;
            gap: 10px;
            font-size: 16px;
            justify-content: space-around;
          }
        }
      }
    }
  }
}
